# For Pokertracker4 DB
DB_PT4="" # Your Poker Tracker 4 DB Name
DB_PT4_USER=postgres
DB_PT4_PASSWORD=
DB_PT4_HOST=localhost
DB_PT4_PORT=5432

# For GPUPokerSolver DB
DB_SOLVER=dbname
DB_SOLVER_USER=postgres
DB_SOLVER_PASSWORD=
DB_SOLVER_HOST=localhost
DB_SOLVER_PORT=5432

# For Usage
DEFAULT_PLAYERS="Nickname1, Nickname2" # The poker player nickname on site
PT4_IMPORT_DATABASES="PT4DB" #Probably just like DB_PT4, it's where you'll import hands from
